-- CreateTable
CREATE TABLE "works" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "module" TEXT NOT NULL,
    "submodule" TEXT,
    "schema_type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "title_original" TEXT,
    "other_titles" TEXT,
    "year" INTEGER,
    "country" TEXT,
    "language" TEXT,
    "total_time" INTEGER,
    "studio" TEXT,
    "release_dates" TEXT,
    "quotes" TEXT,
    "scores" TEXT,
    "episode_count" INTEGER,
    "episode_time" INTEGER,
    "episodes_story" TEXT,
    "introduction" TEXT,
    "story" TEXT,
    "external_source" TEXT,
    "images" TEXT,
    "videos" TEXT,
    "comments" TEXT,
    "soundtrack" TEXT,
    "related" TEXT,
    "characters" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "created_at" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "people" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "person_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "name_en" TEXT,
    "avatar_path" TEXT,
    "profile_link" TEXT,
    "intro" TEXT
);

-- CreateTable
CREATE TABLE "work_credits" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "work_id" TEXT NOT NULL,
    "person_id" INTEGER NOT NULL,
    "department" TEXT NOT NULL,
    "role" TEXT,
    "character" TEXT,
    "order" INTEGER NOT NULL DEFAULT 0,
    "is_primary" BOOLEAN NOT NULL DEFAULT false,
    CONSTRAINT "work_credits_work_id_fkey" FOREIGN KEY ("work_id") REFERENCES "works" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "work_credits_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "people" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "work_types" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "group" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "module" TEXT,
    "submodule" TEXT,
    "order" INTEGER NOT NULL DEFAULT 0,
    "enabled" BOOLEAN NOT NULL DEFAULT true
);

-- CreateTable
CREATE TABLE "work_categories" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "work_id" TEXT NOT NULL,
    "type_id" INTEGER NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 0,
    CONSTRAINT "work_categories_work_id_fkey" FOREIGN KEY ("work_id") REFERENCES "works" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "work_categories_type_id_fkey" FOREIGN KEY ("type_id") REFERENCES "work_types" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "schema_migrations" (
    "version" TEXT NOT NULL PRIMARY KEY,
    "applied_at" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateIndex
CREATE INDEX "idx_works_module_submodule" ON "works"("module", "submodule");

-- CreateIndex
CREATE INDEX "idx_works_schema_type" ON "works"("schema_type");

-- CreateIndex
CREATE INDEX "idx_works_status" ON "works"("status");

-- CreateIndex
CREATE INDEX "idx_works_year" ON "works"("year");

-- CreateIndex
CREATE UNIQUE INDEX "people_person_id_key" ON "people"("person_id");

-- CreateIndex
CREATE INDEX "idx_people_name" ON "people"("name", "name_en");

-- CreateIndex
CREATE INDEX "idx_work_credits_work_id" ON "work_credits"("work_id", "order");

-- CreateIndex
CREATE INDEX "idx_work_credits_person_id" ON "work_credits"("person_id");

-- CreateIndex
CREATE INDEX "idx_work_types_scope" ON "work_types"("group", "module", "submodule", "order");

-- CreateIndex
CREATE INDEX "idx_work_types_identity" ON "work_types"("group", "name", "module", "submodule");

-- CreateIndex
CREATE INDEX "idx_work_categories_work_id" ON "work_categories"("work_id", "order");

-- CreateIndex
CREATE INDEX "idx_work_categories_type_id" ON "work_categories"("type_id");

-- CreateIndex
CREATE UNIQUE INDEX "work_categories_work_id_type_id_key" ON "work_categories"("work_id", "type_id");

